
$cardpd: (20px 20px 40px 20px);
$boxShadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);

$primaryColor: hsl(145, 65%, 27%);
$primaryHoverColor: hsl(145, 65%, 37%);

$secondaryColor: hsl(210, 89%, 44%);
$secondaryColorHover: hsl(210, 89%, 54%);

$grayColor: hsl(0, 1%, 74%);